extends layout

block content
    div
        ul
          li
            a(href='/') Главная страница
            if user
              if can.view_clients
                li
                  a(href='/clients') Клиенты
              if can.view_orders
                li
                  a(href='/orders') Заказы
              if can.view_clients
                li
                  a(href='/massage') Массаж
              if can.view_clients
                li
                  a(href='/therapist') Массажисты
              if can.view_clients
                li
                  a(href='/more_service') Дополнительные услуги
              if can.view_clients
                li
                  a(href='/massage_type') Типы массажа
              if can.view_users
                li
                  a(href='/users') Пользователи
              li
                a(href='', id='Logout') Выйти
            else
                li
                    a(href='', id='Login') Войти